<div class="container">
  <div class="card text-center">
    <h1>Liste des journalistes</h1>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Entreprise</th>
          <th>Email</th>
          <th>Numero</th>
          <th>Voie</th>
          <th>Ville</th>
          <th>Code postal</th>
          <th>Reservation</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let j of journalistes">
          <th>{{ j.id }}</th>
          <td>{{ j.nom }}</td>
          <td>{{ j.prenom }}</td>
          <td>{{ j.entreprise }}</td>
          <td>{{ j.mail }}</td>
          <td>{{ j.adresse.numero }}</td>
          <td>{{ j.adresse.voie }}</td>
          <td>{{ j.adresse.ville }}</td>
          <td>{{ j.adresse.cp }}</td>
          <td>
            <a
              [routerLink]="['/journaliste', j.id, 'reservation']"
              routerLinkActive="active"
              class="btn btn-link"
              >Liste des réservations</a
            >
          </td>
          <td>
            <a
              [routerLink]="['/journaliste', 'edit', j.id]"
              routerLinkActive="active"
              class="btn btn-primary"
              >Editer</a
            >
          </td>
          <td>
            <button class="btn btn-danger" (click)="delete(j.id!)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <a routerLink="/home" routerLinkActive="active" class="btn btn-dark">
      Retour Accueil</a
    >
  </div>
</div>
