<div class="container">
  <div class="card">
    <div class="card-header" *ngIf="this.evenement.id">
      Modifier l'évènement
    </div>
    <div class="card-header" *ngIf="!this.evenement.id">Créer l'évènement</div>
    <div class="card-body">
      <form (ngSubmit)="submit()" [formGroup]="form">
        <div class="form-group">
          <label>ID</label>
          <input readonly class="form-control" placeholder="generation auto" />
        </div>
        <div class="form-group">
          <label>Nom de l'évènement:</label>
          <input formControlName="nom" class="form-control" />
          <div
            *ngIf="form.get('nom')?.dirty && form.get('nom')?.invalid"
            class="alert alert-danger"
          >
            Information obligatoire !
          </div>
        </div>

        <div formGroupName="dateGroup">
          <div class="form-group">
            <label>Debut:</label>
            <input
              type="date"
              formControlName="dateDebut"
              class="form-control"
            />
            <div
              *ngIf="
                form.get('dateGroup.dateDebut')?.dirty &&
                form.get('dateGroup.dateDebut')?.invalid
              "
              class="alert alert-danger"
            >
              Information obligatoire !
            </div>
          </div>
          <div class="form-group">
            <label>Fin:</label>
            <input type="date" formControlName="dateFin" class="form-control" />
            <div
              *ngIf="
                form.get('dateGroup.dateFin')?.dirty &&
                form.get('dateGroup.dateFin')?.invalid
              "
              class="alert alert-danger"
            >
              Information obligatoire !
            </div>
          </div>
          <div
            *ngIf="form.get('dateGroup')?.hasError('datesNotConsistent')"
            class="alert alert-danger"
          >
            Dates incohérentes !
          </div>
        </div>

        <div class="form-group">
          <label>Ville:</label>
          <input formControlName="ville" class="form-control" />
          <div
            *ngIf="form.get('ville')?.dirty && form.get('ville')?.invalid"
            class="alert alert-danger"
          >
            Information obligatoire !
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="form.invalid"
          >
            Valider
          </button>
          <a (click)="annuler()" class="btn btn-warning">Annuler</a>
        </div>
      </form>
    </div>
  </div>
</div>
