<form (ngSubmit)="save()" [formGroup]="form">
  <div class="card">
    <div class="card-header">Modifier une reservation</div>
    <div class="card-body">
      <div class="form-group">
        <label>id:</label>
        <input readonly class="form-control" placeholder="genereation auto" />

        <label>Date début:</label>
        <input type="date" class="form-control" formControlName="dateDebut" />

        <label>Date fin:</label>
        <input type="date" class="form-control" formControlName="dateFin" />

        <label>Logement:</label>
        <select formControlName="logement" class="form-control">
          <option>Select</option>
          <option *ngFor="let l of logements">
            {{ l.id }}
          </option>
        </select>

        <label>Epreuve:</label>
        <select formControlName="epreuve" class="form-control">
          <option>Select</option>
          <option *ngFor="let e of epreuves">
            {{ e.id }}
          </option>
        </select>
      </div>
      <div>
        <button type="submit" class="btn btn-success">enregistrer</button>
        <a routerLink="/reservation" class="btn btn-warning">annuler</a>
      </div>
    </div>
  </div>
</form>
