<div class="container">
  <form (ngSubmit)="save()" [formGroup]="form">
    <div class="card">
      <div class="card-header">Compléter ma réservation</div>
      <div class="card-body">
        <div class="form-group">
          <label>ID:</label>
          <input readonly class="form-control" placeholder="generation auto" />

          <label>Date début:</label>
          <input type="date" class="form-control" formControlName="dateDebut" />

          <label>Date fin:</label>
          <input type="date" class="form-control" formControlName="dateFin" />
          <label>Logement:</label>
          <select formControlName="logement" class="form-control">
            <option>Select</option>
            <option *ngFor="let l of logements" [value]="l.id">
              {{ l.id }}
              {{ l.nom }}
            </option>
          </select>

          <label>Epreuve:</label>
          <select formControlName="epreuve" class="form-control">
            <option>Select</option>
            <option *ngFor="let e of epreuves" [value]="e.id">
              {{ e.id }} {{ e.discipline }}
            </option>
          </select>
        </div>
        <div>
          <button type="submit" class="btn btn-success">Enregistrer</button>
          <a (click)="annuler()" class="btn btn-warning">Annuler</a>
        </div>
      </div>
    </div>
  </form>
</div>
