<div class="container">
<div class="card">
  <div class="card-header"><h3>Liste des athlètes</h3></div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Date de naissance</th>
          <th>Email</th>
          <th>Numero</th>
          <th>Voie</th>
          <th>Ville</th>
          <th>Code postal</th>
          <th>Reservation</th>
          <th>Epreuve</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of athletes">
          <th>{{ a.id }}</th>
          <td>{{ a.nom }}</td>
          <td>{{ a.prenom }}</td>
          <td>{{ a.dateNaissance }}</td>
          <td>{{ a.mail }}</td>
          <td>{{ a.adresse.numero }}</td>
          <td>{{ a.adresse.voie }}</td>
          <td>{{ a.adresse.ville }}</td>
          <td>{{ a.adresse.cp }}</td>
          <td>
            <a
              [routerLink]="['/athlete', a.id, 'reservation']"
              routerLinkActive="active"
              class="btn btn-link"
              >Liste des réservations</a
            >
          </td>
          <td>
            <a
              [routerLink]="['/athlete', a.id, 'epreuve']"
              routerLinkActive="active"
              class="btn btn-link"
              >Liste des épreuves</a
            >
          </td>
          <td>
            <a
              [routerLink]="['/athlete', 'edit', a.id]"
              routerLinkActive="active"
              class="btn btn-primary"
              >Editer</a
            >
          </td>
          <td>
            <button class="btn btn-danger" (click)="delete(a.id!)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
