<div class="card">
  <div class="card-header">Liste des athletes inscrits à cette epreuve</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>nom</th>
          <th>prenom</th>
          <th>Date de naissance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of athletes">
          <th>{{ a.id }}</th>
          <td>{{ a.nom }}</td>
          <td>{{ a.prenom }}</td>
          <td>{{ a.dateNaissance }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button class="btn btn-outline-dark" routerLink="/epreuve/consulter">
      Retour
    </button>
  </div>
</div>
