
#logo{
  display: flex;
  justify-content: left;
  border: solid 2px;
  width: 150px;
  height: 150px;
}


body{
 	position: relative;
 	background-color: #e1cb93;

}

#banniere{
 	display: flex;
 	

}

header{
	width: 100%;
	height: 10%;
}

.menuBanniere{

  display: flex;
  justify-content: flex-end;
  width: 100%;

}

#myCarousel{
  	display: flex;
  	height: 88%;
    width: 100%;

  }
  
.carousel-orga {
    text-align: center;
  }

.carousel-event{
    text-align: center;
  }

.carousel-athlete{
    text-align: center;
  }



.carousel-control-prev-icon {

    width: 32px;
    height: 32px;
}
.carousel-control-next-icon {

    width: 32px;
    height: 32px;
}
