<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Corps</th>
        <th>Journaliste</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of articles">
        <td>{{ a.id }}</td>
        <td>{{ a.titre }}</td>
        <td>{{ a.date }}</td>
        <td>{{ a.journaliste?.prenom }} {{ a.journaliste?.nom }}</td>
        <td>
          <a
            [routerLink]="['/article', 'read', a.id]"
            routerLinkActive="active"
            class="btn btn-primary"
            >Lecture</a
          >
        </td>
        <td>
          <a
            *ngIf="journalisteId == a.journaliste?.id"
            [routerLink]="['/article', 'edit', a.id]"
            routerLinkActive="active"
            class="btn btn-primary"
            >Editer</a
          >
        </td>
        <td>
          <button
            *ngIf="journalisteId == a.journaliste?.id"
            (click)="delete(a.id!)"
            class="btn btn-danger"
          >
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <a
      *ngIf="role == 'journaliste'"
      routerLink="/article/edit"
      routerLinkActive="active"
      class="btn btn-primary btn-sm"
      >Rédiger un article</a
    >
  </div>
</div>
