<div class="container">
  <div class="card text-center">
    <h1>Liste des organisateurs</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Raison sociale</th>
          <th>Email</th>
          <th>Numero</th>
          <th>Voie</th>
          <th>Ville</th>
          <th>Code postal</th>
          <th>Reservation</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of organisateurs">
          <th>{{ o.id }}</th>
          <td>{{ o.nom }}</td>
          <td>{{ o.prenom }}</td>
          <td>{{ o.raisonSoc }}</td>
          <td>{{ o.mail }}</td>
          <td>{{ o.adresse.numero }}</td>
          <td>{{ o.adresse.voie }}</td>
          <td>{{ o.adresse.ville }}</td>
          <td>{{ o.adresse.cp }}</td>
          <td>
            <a
              [routerLink]="['/organisateur', o.id, 'reservation']"
              routerLinkActive="active"
              class="btn btn-link"
              >Liste des réservations</a
            >
          </td>
          <td>
            <a
              [routerLink]="['/organisateur', 'edit', o.id]"
              routerLinkActive="active"
              class="btn btn-primary"
              >Editer</a
            >
          </td>
          <td>
            <button class="btn btn-danger" (click)="delete(o.id!)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <a routerLink="/home" routerLinkActive="active" class="btn btn-dark">
      Retour Accueil</a
    >
  </div>
</div>
