<div class="container">
  <div class="row">
    <div class="col-lg-9" id="leftPart">
      <h2>Découvrez nos articles</h2>
      <div class="container">
        <div class="row elements">
          <div class="col-sm-4">
            <img src="./assets/images/Rappy.png" alt="image article" />
          </div>
          <div class="col-sm-8">
            <h3>Titre</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed quo
              architecto ea.
            </p>
            <button
              class="btn btn-outline-info"
              routerLink="/article/read/:id"
              routerLinkActive="active"
            >
              Consulter
            </button>
          </div>
        </div>

        <div class="row elements">
          <div class="col-sm-4">
            <img src="" alt="" />
          </div>
          <div class="col-sm-8">
            <h3>Titre</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed quo
              architecto ea.
            </p>
            <button
              class="btn btn-outline-info"
              routerLink="/article/read/:id"
              routerLinkActive="active"
            >
              Consulter
            </button>
          </div>
        </div>

        <div class="row elements">
          <div class="col-sm-4">
            <img src="" alt="" />
          </div>
          <div class="col-sm-8">
            <h3>Titre</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed quo
              architecto ea.
            </p>
            <button
              class="btn btn-outline-info"
              routerLink="/article/read/:id"
              routerLinkActive="active"
            >
              Consulter
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-3" id="rightPart"></div>
    </div>
  </div>
</div>
