<div class="container">
  <div class="row">
    <div class="col-lg-9" id="leftPart">
      <h2>Découvrez nos articles</h2>
      <div class="container">
        <ng-container *ngFor="let article of articles; let i = index">
          <div class="row elements" *ngIf="i > articles.length - 4">
            <div class="col-sm-4">
              <img [src]="article.image" alt="Image article" />
            </div>
            <div class="col-sm-8">
              <h3>{{ article.titre }}</h3>
              <p>
                {{ article.corps }}
              </p>
              <button
                class="btn btn-outline-info"
                [routerLink]="['/article', 'read', article.id]"
                routerLinkActive="active"
              >
                Consulter
              </button>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="col-lg-3" id="rightPart"></div>
    </div>
  </div>
</div>
