<div class="container page-wrap">
  <div class="container-fluid">
    <a routerLink="/home" routerLinkActive="active" class="btn btn-link"
      ><img id="logo" src="./assets/images/logo3.jpg"
    /></a>

    <div class="container-fluid">
      <span *ngIf="isAutenticated()">Bonjour {{ nom }} {{ prenom }}</span>
      <a
        *ngIf="!isAutenticated()"
        routerLink="/inscription"
        routerLinkActive="active"
        class="btn btn-info"
        >Inscription</a
      >
      <a
        *ngIf="!isAutenticated()"
        routerLink="/login"
        routerLinkActive="active"
        class="btn btn-info"
        >Login</a
      >

      <button
        class="modifier"
        *ngIf="isAutenticated()"
        routerLink="/profil"
        routerLinkActive="active"
        class="btn btn-warning"
      >
        Voir mon profil
      </button>

      <button
        class="logout"
        *ngIf="isAutenticated()"
        (click)="logout()"
        routerLink="/home"
        routerLinkActive="active"
        class="btn btn-danger"
      >
        Logout
      </button>
    </div>
  </div>
</div>

<div class="container-fluid"><app-banniere></app-banniere></div>

<router-outlet></router-outlet>

<div class="site-footer"><app-footer></app-footer></div>
