<div class="container">
  <div class="container-fluid">
    <a routerLink="/home" routerLinkActive="active" class="btn btn-link"
      ><img id="logo" src="./assets/images/logo3.jpg"
    /></a>
  </div>

  <div class="login">
    <span *ngIf="isAutenticated()">Bonjour {{ nom }} {{ prenom }}</span>
    <a
      *ngIf="!isAutenticated()"
      routerLink="/inscription"
      routerLinkActive="active"
      class="btn btn-outline-dark"
      >Inscription</a
    >
    <a
      *ngIf="!isAutenticated()"
      routerLink="/login"
      routerLinkActive="active"
      class="btn btn-outline-dark"
      >Login</a
    >
<div>
    <button class="logout"
      *ngIf="isAutenticated()"
      (click)="logout()"
      routerLink="/home"
      routerLinkActive="active"
      class="btn btn-outline-danger"
    >
      Logout
    </button>
  </div> 
  </div>
</div>
<div class="container-fluid"><app-banniere></app-banniere></div>

<router-outlet></router-outlet>
