<div class="banniere">
  <div class="logo">
    <a routerLink="/home" routerLinkActive="active" class="btn btn-link"
      ><img id="logo" src="./assets/images/logo3.jpg"
    /></a>
  </div>

  <div class="login">
    <span *ngIf="isAutenticated()">Bonjour {{ login }}</span>
    <a
      routerLink="/inscription"
      routerLinkActive="active"
      class="btn btn-outline-dark"
      >Inscription</a
    >
    <a
      *ngIf="!isAutenticated()"
      routerLink="/login"
      routerLinkActive="active"
      class="btn btn-outline-dark"
      >Login</a
    >

    <button
      *ngIf="isAutenticated()"
      (click)="logout()"
      class="btn btn-outline-danger"
    >
      Logout
    </button>
  </div>
</div>
<div class="banniereCompo"><app-banniere></app-banniere></div>

<div class="container"></div>

<router-outlet></router-outlet>

<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-2">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-8 col-xl-6 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>A propos
          </h6>
          <p style="text-align: left">
            Application développée grâce à une team <b>d'acharnés!</b>
          </p>
          <p>
            Dans le cadre de la formation #JavaEE dispensée par AJC Formation
            pour SopraSteria
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Groupe 2</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            competsport2@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +33 6 59 41 57 36</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>

  <div class="text-center p-4">
    © 2022 Copyright:
    <a class="text-reset fw-bold" routerLink="/home">Perfect Match</a>
  </div>
</footer>
