.container {
  width: 100em;
  padding: 0% 0% 0% 0%;
  margin: 1% 0% 0% 1%;
}

#logo {
  border: solid 2px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.login {
  margin-top: 2.5%;
  margin-right: -5%;
  margin-left: 5%;
  float: right;
  background-color: burlywood;
}

.logout{
  margin-left: 15%;
position: absolute;
right:0;
}


.btn btn-link {
  border-radius: 50%;
}

.container-fluid a {
  text-decoration: none;
  box-shadow: none;
}

#footer {
  padding: 15px 0 4px 0;
  margin-top: 15px;
  bottom: 0;
}
