<div class="container">
  <div class="card text-center">
    <h1>Liste des réservations</h1>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Date de réservation</th>
          <th>Date début</th>
          <th>Date fin</th>
          <th>Heure</th>
          <th>Statut</th>
          <th>Logement</th>
          <th>Epreuve</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of reservations">
          <th>{{ r.id }}</th>
          <td>{{ r.date }}</td>
          <td>{{ r.dateDebut }}</td>
          <td>{{ r.dateFin }}</td>
          <td>{{ r.heure }}</td>
          <td>{{ r.statut }}</td>
          <td>
            {{ r.logement.id }}
          </td>
          <td>
            {{ r.epreuve.id }}
          </td>
          <td>
            <a
              [routerLink]="['/reservation', 'edit', r.id]"
              routerLinkActive="active"
              class="btn btn-primary"
              >Editer</a
            >
          </td>
          <td>
            <button class="btn btn-danger" (click)="delete(r.id!)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <a routerLink="/home" routerLinkActive="active" class="btn btn-dark">
      Retour Accueil</a
    >
  </div>
</div>
