<div class="card">
  <div class="card-header">Liste des reservations</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Date</th>
          <th>Date début</th>
          <th>Date fin</th>
          <th>Heure</th>
          <th>Statut</th>
          <th>Logement</th>
          <th>Epreuve</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of reservations">
          <th>{{ r.id }}</th>
          <td>{{ r.date }}</td>
          <td>{{ r.dateDebut }}</td>
          <td>{{ r.dateFin }}</td>
          <td>{{ r.heure }}</td>
          <td>{{ r.statut }}</td>
          <td>
            {{ r.logement.id }}
          </td>
          <td>
            {{ r.epreuve.id }}
          </td>
          <td>
            <a
              [routerLink]="['/reservation', 'edit', r.id]"
              routerLinkActive="active"
              class="btn btn-primary"
              >editer</a
            >
          </td>
          <td>
            <button class="btn btn-danger" (click)="delete(r.id!)">
              supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <a
        routerLink="/reservation/edit"
        routerLinkActive="active"
        class="btn btn-outline-success"
        >Ajouter une reservation</a
      >
    </div>
  </div>
</div>
