<div class="card text-center">
  <h1>{{ evenement.nom }}</h1>
  <table class="table table-dark">
    <tbody>
      <tr>
        <th scope="col">Debut</th>
        <td>{{ evenement.dateDebut }}</td>
      </tr>
      <tr>
        <th scope="col">Fin</th>
        <td>{{ evenement.dateFin }}</td>
      </tr>
      <tr>
        <th scope="col">Ville</th>
        <td>{{ evenement.ville }}</td>
      </tr>
      <tr>
        <th scope="col">Statut</th>
        <td>{{ evenement.statut }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <a
    *ngIf="role == 'organisateur'"
    (click)="modifier()"
    routerLinkActive="active"
    class="btn btn-outline-warning"
    >Modifier l'évenement</a
  >
  <a
    *ngIf="role == 'organisateur'"
    (click)="delete(evenement.id)"
    routerLinkActive="active"
    class="btn btn-outline-danger"
    >supprimer</a
  >

  <a
    routerLink="/epreuve"
    routerLinkActive="active"
    class="btn btn-outline-info"
    >Liste des epreuves</a
  >

  <a
    routerLink="/epreuve"
    routerLinkActive="active"
    class="btn btn-outline-info"
    >Liste des participant</a
  >
</div>
<div>
  <button class="btn btn-outline-dark" routerLink="/evenement">Retour</button>
</div>
