<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>{{ evenement.nom }}</h3>
    </div>
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th scope="col">Debut</th>
            <td>{{ evenement.dateDebut }}</td>
          </tr>
          <tr>
            <th scope="col">Fin</th>
            <td>{{ evenement.dateFin }}</td>
          </tr>
          <tr>
            <th scope="col">Ville</th>
            <td>{{ evenement.ville }}</td>
          </tr>
          <tr>
            <th scope="col">Statut</th>
            <td>{{ evenement.statut }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button class="btn btn-dark" routerLink="/evenement">Retour</button>
      <a
        *ngIf="role == 'organisateur'"
        (click)="modifier()"
        routerLinkActive="active"
        class="btn btn-warning"
        >Modifier l'évènement</a
      >
      <a
        *ngIf="role == 'organisateur'"
        (click)="delete(evenement.id)"
        routerLinkActive="active"
        class="btn btn-danger"
        >Supprimer</a
      >

      <a routerLink="/epreuve" routerLinkActive="active" class="btn btn-info"
        >Liste des épreuves</a
      >
    </div>
  </div>
</div>
